<%= div_for(comment) do %>
	<div class="comments_wrapper clearfix">
		<div class="pull-left">
			<p class="lead">
				<%= comment.message %>
			</p>
			<p><small>Enviado há <strong><%= time_ago_in_words(comment.created_at) %></strong> atrás por <strong>
        <% if comment.user == current_user %>
            você
        <% else %>
          <%= comment.user.email %>
        <%end%></strong>
        </small></p>
		</div>
		<% if user_signed_in? %>
		<div class="btn-group pull-right">
			<%= link_to like_post_comment_path(comment.post, comment), method: :put, class: "btn btn-sm btn-default" do %>
		        <span class="glyphicon glyphicon-thumbs-up"></span>
		        Like
		        <%= comment.get_upvotes.size %>
		    <% end %>
		    <%= link_to dislike_post_comment_path(comment.post, comment), method: :put, class: "btn btn-sm btn-default " do %>
		        <span class="glyphicon glyphicon-thumbs-down"></span>
		        Dislike
		        <%= comment.get_downvotes.size %>
		    <% end %>
		    <%if (current_user == comment.post.user) or (current_user == comment.user)%>
			<%= link_to "Apagar comentário", [comment.post, comment], 
  						method: :delete, 
  						class: "btn btn-sm btn-default",
  						data: { confirm: "Tem certeza?" } %>
  			<%end%>
		</div>
		<%end%>
	</div>
<% end %>

